<ion-view view-title="Trang chủ">
  <ion-content class="padding">
   <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-change="search(event)" ng-model="form.searchText" placeholder="Tìm sản phẩm">
    </label>
   </div>
  <div class="list">
    <div class="item item-button-right" style="background-color: #d9dee0;">
      <div style="margin-left: 5px; min-width: 160px; min-height: 20px; word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">Mã</div>
      <div style="margin-left: 5px; min-width: 240px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">Tên</div>
      <div style="margin-left: 5px; min-width: 160px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">Giá</div>
      <div style="margin-left: 5px; min-width: 180px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">Chú thích</div>
      <div style="margin-left: 5px; min-width: 160px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">Đơn vị</div>
      <div style="margin-left: 5px; min-width: 120px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">Ngày tạo</div>
    </div>
    <div class="item item-button-right" style="padding-right: 10px" ng-repeat="product in products track by product._id">
      <div style="margin-left: 5px; min-width: 160px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">{{product.id}} </div>
      <div style="margin-left: 5px; min-width: 240px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">{{product.name}} </div>
      <div style="margin-left: 5px; min-width: 160px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">{{product.price}} </div>
      <div style="margin-left: 5px; min-width: 180px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">{{product.note}} </div>
      <div style="margin-left: 5px; min-width: 160px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">{{product.unit}} </div>
      <div style="margin-left: 5px; min-width: 120px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">{{product.createdDate}} </div>
      <div style="margin-left: 5px; min-width: 140px; min-height: 20px;word-wrap: break-word; float: left; overflow: hidden; text-overflow: ellipsis;">
          <button class="button button-dark" style="min-width: 1px !important; min-height: 1px !important; height: 30px !important;width: 55px !important;padding: 0px !important;line-height: 15px;" ng-click="edit(product)">
          Sửa
      </button>
          <button class="button button-assertive" style="margin-left: 10px;  min-width: 1px !important; min-height: 1px !important; height: 30px !important;width: 55px !important;padding: 0px !important;line-height: 15px;" ng-click="delete(product)">
          Xóa
      </button>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
